php_flag display_startup_errors on
php_flag display_errors on
php_flag html_errors on
php_flag  log_errors on

RewriteEngine on
RewriteRule ^uvod$ /index.php [R]
RewriteRule ^$ /uvod [R]
RewriteRule ^prihlaska$ /prihlaska.php [R]
RewriteRule ^serie$ /serie.php [R]
RewriteRule ^serie/([0-9]*)$ /serie-download.php?id=$1 [R]
RewriteRule ^vysledky/([0-9]*)$ /vysledky.php?id=$1 [R]
RewriteRule ^vysledky/([0-9]*)/([0-9]*)$ /vysledky.php?id=$1&grade=$2 [R]
RewriteRule ^fotogalerie$ /fotogalerie.php [R]
RewriteRule ^fotogalerie/(.*)$ /fotogalerie.php?name=$1 [R]
RewriteRule ^diskuze$ /diskuze.php [R]
RewriteRule ^diskuze/([0-9]*)$ /diskuze.php?page=$1 [R]
RewriteRule ^prihlasit-se$ /login.php [R]

<filesMatch "\.(php|html|htm|js|css)$">
  FileETag None
  <ifModule mod_headers.c>
    Header unset ETag
    Header set Cache-Control "max-age=0, no-cache, no-store, must-revalidate"
    Header set Pragma "no-cache"
    Header set Expires "Wed, 11 Jan 1984 05:00:00 GMT"
  </ifModule>
</filesMatch>
