<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Koperníkův korespondenční seminář - KoKoS - je matematický seminář pro žáky 6. - 9. tříd.">
    <meta name="author" content="Pavel Trutman">
    <link rel="icon" href="/images/favicon.ico">
    <meta name="keywords" content="KoKoS, Koperníkův Korespondenčí Seminář, Matematika, Matematický seminář"/>

    <title>Koperníkův Korespondenční seminář</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/additional.css" rel="stylesheet">
    <link href="/css/font-awesome.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles for this template -->
    <link href="/css/carousel.css" rel="stylesheet">
  </head>
<!-- NAVBAR
================================================== -->
  <body>
    <div class="navbar-wrapper">
      <div class="container">

        <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="uvod"><img src="/images/logo.png"><img src="/images/headline.png"></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">

                {foreach $menu as $itemKey => $item}
                  <li n:class="$itemKey === $page ? active"><a href="{$item['link']}"><span class="fa fa-lg fa-{$item['glyphicon']}"></span>&nbsp;{$item['name']}</a></li>
                {/foreach}

              </ul>

              <ul class="nav navbar-nav navbar-right">
                {ifset $session['id']}
                  <li n:class="prihlasit-se === $page ? active, dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" onclick="return false;"><span class="fa fa-lg fa-bars"></span>&nbsp;{$session['name']} {$session['surname']}<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li n:class="ucet === $page ? active"><a href="/ucet"><span class="fa fa-user">&nbsp;Účet</span></a></li>
                    </ul>
                  </li>
                {else}
                  <li n:class="prihlasit-se === $page ? active"><a href="prihlasit-se"><span class="fa fa-lg fa-user"></span>&nbsp;Přihlásit se</a></li>
                {/ifset}
              </ul>
            </div>
          </div>
        </nav>

      </div>
    </div>


    {ifset #carousel}
      {include #carousel}
    {/ifset}

    <div class="container content">

      {foreach $errors as $error}
        <div class="alert alert-danger alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <span class="fa fa-exclamation-circle fa-lg"></span>
          {$error}
        </div>
      {/foreach}

      {foreach $successes as $success}
        <div class="alert alert-success alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <span class="fa fa-check-circle fa-lg"></span>
          {$success}
        </div>
      {/foreach}

      {include #content}

      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Zpět na začátek</a></p>
        <p>&copy; 2015 &middot; Created by <a href="https://cz.linkedin.com/in/paveltrutman">Pavel Trutman</a> &middot; Contact to Webmaster: <a href="https://cz.linkedin.com/in/paveltrutman">Pavel Trutman</a></p>
      </footer>

    </div><!-- /.container -->


    <!-- JavaScripts -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="./js/bootstrap.js"></script>
    {foreach $javascript as $js}
      <script src="{$js['source']}" {(isset($js['async']) && ($js['async'] == True)) ? async|noescape} {(isset($js['defer']) && ($js['defer'] == True)) ? defer|noescape}></script>
    {/foreach}
  </body>
</html>
