{layout "layout.latte"}

{block #content}

  {if $camp}

    <div class="col-xs-12 col-md-12">
      <h1>{$camp['Name']}</h1>
      <p>{$camp['Description']|noescape}</p>
    </div>

  {else}
    <h1>Žádné soustředění se zatím nekoná.</h1>
  {/if}

{/block}



