.navbar-brand {
  padding: 0 15px;
}

.navbar-brand img {
  height: 50px;
  display: inline;
  margin: 0 5px;
}

.content {
  margin-top: 50px;
}

.navbar-fixed-top .navbar-collapse {
  padding-right: 15px;
}

@media (max-width: 991px) and (min-width: 768px) {
  .navbar-nav > li > a {
    padding: 8px;
    margin-top: 7px;
  }
  .navbar-brand {
    padding-left: 8px;
    padding-right: 8px;
  }
  .navbar-brand img.headline {
    display: none;
  }
}

form.upload .well h4 {
  margin: 0;
}

form.upload .form-group {
  padding-left: 15px;
  margin: 0;
}

form.upload .row {
  margin: 5px 0 5px 0;
}

form.upload .row div {
  padding: 0;
}

form.upload .btn {
  margin-left: 15px;
  margin-bottom: 15px;
}

form .radio-inline {
  margin-right: 10px;
}

.result-table th:first-letter {
  text-transform: uppercase;
}

.diskuze .panel-title {
  font-weight: bold;
  display: inline;
  margin-right: 20px;
}

.diskuze .email {
  margin-left: 20px;
}

.diskuze .panel-body {
  padding: 10px 15px;
}

.diskuze p {
  margin: 0;
}

.diskuze textarea {
  height: 200px;
}

.diskuze button#button-0 {
  margin-bottom: 20px;
}

.diskuze .panel-footer .btn {
  margin-top: -5px;
}

.diskuze .popover {
  max-width: 50%;
}

.gallery .row {
  padding-bottom: 10px;
}

.gallery a p {
  color: #5a5a5a;
  margin-top: 5px;
}

.gallery a:hover {
  text-decoration: none;
}

.modal-img {
  max-height: 80vh;
  margin: 0 auto;
}

.fader {
  position: relative;
  max-width: 300px;
  margin: 0 auto;
}

.fader img.top {
  position: relative;
  z-index: 3;
}

.fader img.bottom {
  position: absolute;
  top: 0;
  z-index: 1;
}
